


.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    height: fit-content;
    padding: 50px;
    background:  linear-gradient(112deg, #8cc0dee3 35%,#fedea8a3 35%, #ff9b9b92  55%,#8cc0deee   45%);
    border-radius: 25px;
    margin-top: 5px;
    
 }
 
 
 
 .search-wrapper {
    width: 90%;
   
 
 }

 .search-wrapper h2 {
    font-style: italic;
    font-family: 'Lucida Sans';
    font-weight: bold;
   
 }
 
 .search-wrapper form {
    display: flex;
    flex-direction: column;
 }
 
 .search-wrapper label {
    margin-bottom: 8px;
    font-weight: bold;
    font-family: 'Lucida Sans';
    font-style: italic;
 }
 
 .search-wrapper input,
 .search-wrapper textarea {
    margin-bottom: 10px;
    padding: 6px;
    font-style: italic;
    resize: none;
    border:  1px solid #fd72728e ;
    border-radius: 250px 50px;
 
 }
 
 .l-btn {
    border:#fd727299  solid 1px;
    border-radius: 22px;
    padding: 6px;
    cursor: pointer;
    color: #ffffffff ;
    font-size: 18px;
    background:linear-gradient(45deg,#fedea8d1 5%, #ff9b9bfb 75%, #fedea8e4 100%, #ff9b9bbe 95%);
    margin-top: 10px;
    font-weight: bold; 
    width: 50%;  
    font-family: 'Lucida Sans';
    font-style: italic;
    border-radius: 250px 50px;
    
   
  }

  .open-categ {

   width: 100%;
   height: fit-content;
   
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
  
}

.home-categ {
   display: flex;
   flex-direction: row;
   overflow: scroll;
   width: 100%;
   height: fit-content;
   background:  linear-gradient(150deg,#fedea8ce 8%, #ff9b9bb9  93%);
   padding: 10px;
   border-radius: 25px;
   border: #fedea8 2px solid;
   flex-wrap: wrap;
   justify-content: center
  
   
   
 
}

.gift-logo2 {
   width: 100px;
   height: fit-content;
  object-fit: cover;
  border-radius: 500%;
   border: #fedea8 2px solid;
   padding: 5px;
background-color: #8cc0def6;
   
   
}
